@import "../../styles/variables.scss";

header {
  img {
    @media all and (max-width: 768px) {
      width: 50px;
      height: auto;
    }
  }
  .upper {
    width: 100%;
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid $themeBorderColor;
  }
  .lower {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 0.8rem;
  }
  button {
    margin-bottom: 0.8rem;
  }
  nav {
    margin: 0 0 1rem 1rem;
  }
  .nav-link {
    white-space: nowrap;
    border-radius: 8px;
    border: 2px solid transparent;
    padding: 0.3rem 1.1rem;
    font-size: 1rem;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    background: transparent;
    margin-left: 0.5rem;
    transition: all 0.3s ease;
    color: #fff;
    text-decoration: none;
    @media all and (max-width: 768px) {
      padding: 0.2rem 0.7rem;
    }
    &:hover {
      border: 2px solid $themecolorPinkLight;
    }
  }
  // .login-link {
  //   border-radius: 8px;
  //   border: 2px solid transparent;
  //   padding: 0.3rem 1.1rem;
  //   font-size: 1rem;
  //   font-weight: 500;
  //   font-family: inherit;
  //   cursor: pointer;
  //   background: $themecolorPink;
  //   margin-left: 0.5rem;
  //   transition: all 0.3s ease;
  //   color: #fff;
  //   text-decoration: none;
  //   &:hover {
  //     border: 2px solid $themecolorPinkLight;
  //   }
  // }
}
