@import "../../styles/variables.scss";

.footer {
  border-top: 1px solid $themeBorderColor;
  margin-top: 5rem;
  padding-top: 1rem;
  font-size: 0.9rem;
  p {
    color: $themecolorBlueSuperLight;
    margin-bottom: 0.8rem;
  }
  .copy {
    font-size: 0.8rem;
    margin-top: 2rem;
    color: $themecolorBlueLight;
  }
}
